*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Bodoni Moda', serif;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: lightskyblue;
    position: fixed;
    width: 100%;
    padding: 20px 0;
}
.navbar h1{
    color: #585c59;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Bodoni Moda', serif;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 10px 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: #829899;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #829899;
    position: absolute;
    right: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 90%;
}
.logo{
    cursor: pointer;
}
.section-1{
    background-color: #3260a8;
    display: flex;
    /* padding: 180px 48px; */
}
.section-1 h1{
    font-family:'Bodoni Moda', serif;
    font-size: 40px;
    color: #4f4f4f;
    margin-top: 40px;
    margin-bottom: 40px;
}
.main-grid{
    padding: 180px 48px;
}
.section-1 img{
    width: 90%;
    height: 130vh;
    object-fit:fill;
}
.section-1 p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #454545;
    margin: 0 0 48px;
}
button{
    padding: 15px 25px;
    cursor: pointer;
    background: linear-gradient(to right, transparent 50%, blue 50%);
    background-size: 200%;
    background-position: left;
    transition: background-position 0.4s;
    border: 2px solid darkblue;
    color: black;
    letter-spacing: 1px;
}
.btn a{
    text-decoration: none;
    color: black;

}
.btn:hover{
    background-position: right;
    color: black;
}

.card-slider{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}
.slide-content{
    margin: 0 40px;
}
.card{
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
}
.image-content, 
.card-content{
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-content{
    row-gap: 5px;
    position: relative;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    left: 0;
    top: 0;

}
.card-image{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: white;
    padding: 3px;
}
.card-image .card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}
.name{
    font-size: 18px;
    font-weight:500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: #4070f4;
    border-radius: 6px;
    margin: 14px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background-color: #265df2;
}
/* .slide-content{
    margin: 0 40px;
}
.card{
    border-radius: 25px;
    background-color: #fff;
    width: 320px;
}
.image-content,
.card-content{
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-content{
    position:relative;
    row-gap: 5px;
    border-radius: 25px 25px 0 25px;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
}

.card-image{
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}
.name{
    font-size: 18px;
    font-weight:500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background-color: #265df2;
} */